<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<head>
  <!-- McDaniel Oct-2018: add the Bootstrap library, unless it's already included from webpack -->
  % if not uses_bootstrap:
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  % endif
  <style>
    .window-wrap
    {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(https://courses.tailoredlabs.org/static/tailoredlabs/images/book-stack-flipped.png)
    }

    .global-header
    {
      background: rgba(0,0,0,0.80)
    }

    section>header, .home>header
{
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}

.title
{
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}
article
{
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
article>a
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.highlighted-courses .courses .course, .find-courses .courses .course
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.home>header .title>.heading-group p
{
  font-style:normal;
  font-family:'Roboto Condensed',sans-serif;
  color:white;
  text-align:center;
}
.home>header .title
{
background-color:rgba(0,0,0,0);
box-shadow: none;
}
label{
  display:inline;
}

h1{
  font-family:'Russo One', sans-serif;
}
.header-text
{
  font-family:'Roboto Condensed',sans-serif;
}

.home>header .title .course-search .search-input
{
  border-radius: 10px;
  color: black;
background:white;

}
.home>header .title .course-search .search-button
{
  background-color:rgba(0,0,0,0);
  border:0px solid #1790c7;
}
.home>header .title>.heading-group h1
{
  text-align: center;
  text-shadow:none;
  color:#079b90;

}
.wrapper-footer footer#footer-openedx .colophon
{
  display:flex;

}
#footer-openedx > div > div > p > a > img
{
  margin-right:10px;
}
 .search-input
 {
  border:rgba(255, 255, 255, 1);
  border-width: 2px;
  background:white;
  color:black;
 }

 .home>header .title .course-search .search-button
 {
   color:black;
 }


.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem .icon::before
{
    content: "\f37e" !important;
    font-family: "Ionicons"  !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button.active
{
    background-color:rgba(255,255,255,1) !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button
{
    background-color:rgba(255,255,255,1) !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem .icon::before
{
    content: "\f37e" !important;
    font-family: "Ionicons"  !important;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_video .icon::before
{
  content: "\f488" !important;
    font-family: "Ionicons"  !important;
}

.courses {
  display: flex !important;
  justify-content: center;
}
  </style>
</head>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>

          <div class="title">
            <!--div class="heading-group">
              <h1>Explore. Learn. Innovate</h1>
            </div-->
            <!-- % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'): -->
              <div class="course-search">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="${_('Search for a course')}"></input>
                    <button class="search-button" type="submit">
                      <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                    </button>
                  </label>

                </form>
              </div>
            <!-- % endif -->

          </div>

          <%include file="index_promo_video.html" />


      </header>
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif

## Houston May-2019: adding bootstrap to the home page
% if not uses_bootstrap:
  <!-- McDaniel Oct-2018: add the Bootstrap javascript library, unless it's already included from webpack -->
  ## xss-lint: disable=mako-invalid-js-filter
  <script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
% endif
