/*

 Custom Global CSS Goes Here

*/
@ud-highlight-grey: #cbcbcb;
@ud-purple: #5641a5;
@ud-hover-purple: #34199c;

.wrapper-footer {
    /* box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1); */
    /* border-top: 1px solid #c5c6c7; */
    padding: 25px 10px 30px 10px;
    background: #fff;
    clear: both;
}


.dashboard .main-container .my-courses .listing-courses .course-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 32%;
    float: left;
    margin: 0 2% 25px 0;
}

#dashboard-search-input{
    width: 100%;
    margin: 0;
    padding: 0.4em 0.4em 0.4em 2.2em;
    border: 0;
    background: #e3e4e9;
    border-radius: 4px;
    font: inherit;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title {
    flex-basis: 100%;
    /* padding-top: 10px; */
}

.dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more, .dashboard .main-container .my-courses .course .details .course-actions .entitlement-actions-wrapper {
    display: none;
    position: relative;
    float: right;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-image {
    /* float: left; */
    /* margin-right: 2.35765%; */
    /* width: 23.23176%; */
    max-height: 175px;
    overflow: hidden;
}


.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a, .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title span {
    display: inline-block;
    /*margin-bottom: 10px;*/
    text-decoration: none;
    font-size: 1.25rem;
}

#course-card-0 > section > div.wrapper-course-details > div.course-info{
    width:100%
}


.dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-actions {
    /* margin-right: 20px; */
    margin-top: 20px;
    width: 100%;
    align-self: flex-end;
}

.dashboard .main-container .my-courses .course .details .enter-course {
    /* float: right; */
    width: 100%;
}


.dashboard .main-container .my-courses .course .details .enter-course {
    /* float: right; */
    width: 100%;
    background: purple;
    color: white;
    border: none;
}
.global-header {
    background: rgba(0, 0, 0, 0.80)
}

@font-face { font-family: "Ionicons"; src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

.window-wrap
{
   background-size: cover;
   background-repeat: no-repeat;
   background: #464646 !important;
}
.courses-list__1AnTO3KB .sort-container__2rScvzNe .sort-item__1-9QF4um {
    list-style-type: none;
    font-size: 1.4rem;
    margin: 1rem 1rem 0 1rem;
    color: #f5f5f5;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.mau-history-list__2zkyQNhy .header-title__t0sc11hq {
    font-weight: bold;
    font-size: 2.4rem;
    padding-left: 2rem;
    line-height: 100%;
    color: #f5f5f5;
}

.cover-image
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
body > div.window-wrap > header > div.main-header > h1 > div > span.course-number
{
    color:white;
}
body > div.window-wrap > header > div.main-header > h1 > div > span.provider
{
    color:white;
}
body > div.window-wrap > header > div.main-header > h1 > div > span.course-name
{
    color:white;
}
.dashboard .main-container {
    padding: 40px 20px 20px 40px;
    flex-grow: 8;
    order: 1;
    margin-left: 100px;
    margin-right: 100px;
}
.dashboard-search-bar label {
    font-family: "Roboto";
    color: #fcfcfc;
    font-size: 13px;
    font-style: normal;
}
.dashboard-search-bar .search-field {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 0 0 #fff, inset 0 0 3px 0 rgba(0,0,0,0.05);
    font-family: "Roboto";
    font-style: normal;
}
.global-header{
    background:#212121 !important;
}

h2, .home>header .title>.heading-group p, section.outside-app h1 {
    color: #fcfcfc;
    font: normal 1.2em/1.2em Georgia,Cambria,"Times New Roman",Times,serif;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
}

.global-header .nav-links .main .nav-tab a {
    color: #fff !important;
    padding: 7px 25px 19px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: -10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.global-header .nav-links .secondary .nav-item a {
    color: #fff !important;
    font-weight: 400;
}

.global-header .nav-links .main .nav-tab
{
    color:white;
}

.global-header .nav-links .main .nav-tab a {
    color: white !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.global-header .nav-links .secondary .nav-item {
    font-size: 1rem;
    display: inline-block;
    padding: 10px 0 0;
    margin: 0 10px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.home>header .title .course-search .search-button:hover, .home>header .title .course-search .search-button:focus {
    background: #34199c !important;
}

.home>header .title .course-search .search-button, .home>header .title .course-search .search-button {
    background-color: #5641a5 !important;
}

.home>header .title .course-search .search-input {
    border-radius: 10px;
    color: black;
    background: white;
    display: flow-root;
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    left: calc(50% - 100px);
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border-color: #6D5CAE;
    border-radius: 3px;
    background: #5641a5;
    color: #fff;
    line-height: 50px;
    text-align: center;
    opacity: 0;
    text-transform: none;
}
.home .courses-container .courses .courses-listing .courses-listing-item {
    margin-left: auto;
    margin-right: auto;
    width: 330px !important;
    margin: 15px;
}
.content-wrapper {
    max-width: 1920px;
    margin-top: 20px;
    padding: 0 0 150px !important;
}
.courses-container .courses .course .course-info {
    height: 120px;
    font-family: "Roboto";
    display: inline-block;
}
.courses-container .courses .course .course-image .cover-image img {
    width: 100%;
    height: -webkit-fill-available;
}
.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item a {
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    color: #5641a5 !important;
    background-color: #fff;
    border-color: black;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.3);
}
.date-summary-container .date-summary .heading {
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 700;
    color: #313131;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrapper-course-material .course-tabs .tab a:hover, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:hover+h4, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:hover+h4, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:focus+h4, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:focus+h4, .wrapper-course-material .course-tabs .tab a:focus, .wrapper-course-material .course-tabs .tab a.active, .wrapper-course-material .course-tabs .tab a:visited:hover, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:hover+h4:visited, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:hover+h4:visited, .wrapper-course-material .course-tabs .tab div.info-wrapper section.handouts ol li div.hitarea:focus+h4:visited, div.info-wrapper section.handouts ol li .wrapper-course-material .course-tabs .tab div.hitarea:focus+h4:visited, .wrapper-course-material .course-tabs .tab a:visited:focus, .wrapper-course-material .course-tabs .tab a:visited.active {
    color: #f1f1f1;
    border-bottom-style: solid;
    background-color: #5641a5;
}


.global-header .nav-links .secondary .nav-item a {
    color: #f5f5f5 !important;
    font-weight: 400;
}
.global-header .nav-links .secondary .toggle-user-dropdown {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #f5f5f5;
}
.global-header .nav-links .main .nav-tab a {
    color: #f5f5f5 !important;
    padding: 7px 25px 19px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: -10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}
span.fa.fa-cog {
    color: #5641a5;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-wrapper .course-tabs .nav-item.active .nav-link, .content-wrapper .course-tabs .nav-item:hover .nav-link {
    border-bottom-color: #7E69C0;
    color: #7E69C0;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrapper-preview-menu .preview-actions .action-preview .action-preview-label {
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    color: #393939;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrapper-preview-menu {
    margin: 0 auto;
    padding: 15px;
    background-color: #5641a5 !important;
    box-sizing: border-box;
}
.global-header .nav-links .secondary .dropdown-user-menu {
    border: 1px solid #fff;
    position: absolute;
    background-color: #393939;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.3);
    color: #fff;
    right: 30px;
    top: 55px;
    z-index: 10;
}

.global-header .nav-links .secondary .nav-item a {
    color: white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
}
.btn-primary {
    color: #fff;
    background-color: #5641a5 !important;
    border-color: #5641a5;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-primary:hover{
    background-color: #34199c;
    color: #fff;
}

#expand-collapse-outline-all-button {
    float: right;
    background-color: #fff !important;
    color: #000;
    cursor: pointer;
}
.register-btn{
    background-color:#5641a5 !important;
    border-color: #5641a5 !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.register-btn:hover{
    background-color: #34199c !important;
    color: #fff;
}

.sign-in-btn{
    background-color: #5641a5 !important;
    border-color: #5641a5 !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sign-in-btn:hover{
    background-color: #34199c !important;
    color: #fff;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
    background-color: white;
}

.course
{
    border-top-left-radius:  5px !important;
    border-top-right-radius:  5px !important;
    border-bottom-left-radius:  5px !important;
    border-bottom-right-radius:  5px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content-wrapper .course-tabs .nav-item .nav-link{
    padding: 10px 15px 13px;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-bottom-color: transparent;
    color: #f5f5f5 !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.wrapper-course-material .course-tabs .tab a, .wrapper-course-material .course-tabs .tab a:visited {
    padding: 10px 15px 13px 15px;
    color: #f5f5f5 !important;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px hidden #6D5CAE;
}
.course-outline .block-tree .section ol.outline-item .subsection .subsection-text .details{
    color: #101010 !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.course-outline .block-tree .section .outline-item .subsection .vertical{
    color: #101010;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-content-container{
    background-color:#f5f5f5;
}

.courses-container .courses .course
{
    border-radius:15px;
}
.courses-container
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.courses
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.courses-container .courses .course .course-image .cover-image .highlighted-courses
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.course-info .course-profile
{
    background-color: rgba(0,0,0,0);
    height:unset;
    padding-top:unset;
}

a{
    color: #101010;
}
.header-text
{
    font-family: 'News Cycle', sans-serif;
}

.home .courses-container .courses .courses-listing .courses-listing-item
{
    margin-left:auto;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a
{
    color:grey;
}
.wrapper-footer
{
    background-color:#212121;
}
textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"]
{
    background-color:rgba(0,0,0,0);
    background:rgba(0,0,0,0);
}

.global-header .nav-links .secondary a.register-btn a.sign-in-btn
{
    background-color: #212121;
    color: #dee2e6;
    border: 1px solid #dee2e6;
    font-weight: 400;
    padding: 5px 20px
}
.global-header
{
  border-bottom-width:0px;

}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem .icon::before
{
    content: "\f37e" !important;
    font-family: "Ionicons" !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button.active
{
    background-color:rgba(255,255,255,1) !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button
{
    background-color:rgba(255,255,255,1) !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem .icon::before
{
    content: "\f37e" !important;
    font-family: "Ionicons" !important;
}


.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_video .icon::before
{
  content: "\f488" !important;
  font-family: "Ionicons" !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active
{
    background-color:rgba(255,255,255,1) !important;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active
{
    background-color:rgba(255,255,255,1) !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button
{
    background-color:rgba(255,255,255,1) !important;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_other .icon::before
{
    content: "\f373" !important;
    font-family: "Ionicons" !important;
}

.find-courses, .university-profile
{
    background-color:rgba(0,0,0,0);
}

.dashboard .main-container .my-courses .course .details
{
    background-color:white;
}


.wrapper-preview-menu
{
    background-color:grey;
}
.wrapper-logo
{
    float:right;
}

.courses{
    margin:auto;
}


.verification-process .report-receipt-provider .provider-buttons-logos .complete-order button:hover, .dashboard .main-container .my-courses .course .details .enter-course:hover, .wrapper-messages-primary .message.message-upsell .action-view-consent:hover, .wrapper-messages-primary .message.message-status .verification-cta .btn:hover, .wrapper-messages-primary .message.message-status .credit-action .credit-btn:hover, .btn-secondary:hover, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:hover, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link:hover, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order-lines .u-field-order-link .u-field-link:hover, .account-settings-sections .section .account-deletion-details .btn-outline-primary:hover, .account-settings-sections .section .account-deletion-details .delete-confirmation-wrapper .paragon__modal-footer .paragon__btn-outline-primary:hover, .courseware-bookmarks-button .bookmarks-list-button:hover, .verification-process .report-receipt-provider .provider-buttons-logos .complete-order button:focus, .dashboard .main-container .my-courses .course .details .enter-course:focus, .wrapper-messages-primary .message.message-upsell .action-view-consent:focus, .wrapper-messages-primary .message.message-status .verification-cta .btn:focus, .wrapper-messages-primary .message.message-status .credit-action .credit-btn:focus, .btn-secondary:focus, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:focus, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link:focus, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order-lines .u-field-order-link .u-field-link:focus, .account-settings-sections .section .account-deletion-details .btn-outline-primary:focus, .account-settings-sections .section .account-deletion-details .delete-confirmation-wrapper .paragon__modal-footer .paragon__btn-outline-primary:focus, .courseware-bookmarks-button .bookmarks-list-button:focus {
    border: 1px solid transparent;
    background-color: #34199c;
    color: #fff;
    text-decoration: none;
}

.wrapper-footer footer#footer-openedx .colophon
{
    display:flex;
}

.course-container {
  border: none !important;
}

.page-title {
    color: black;
}
