// Built based on the dark theme provided by Open edX

// Theme colors
//
// Note: define colors needed by your theme first
$purple: #6D5CAE;
$dark-gray: #212121;
$off-white: #ececec;
$white: #FFFFFF;


// Houston May-2019: Try to implement dark theme
$primary: $purple;
$inverse: $dark-gray;
$secondary: #151b26;
$body-bg: $white;
//Theming overrides
// Houston May-2019
// $container-bg: $off-white;
// $content-wrapper-bg: $off-white;
// $footer-bg: $purple;
//
// $body-bg: $dark-gray;
// $body-color: $white;

// $headings-color: $white;
// $input-color: $white;
// $input-placeholder-color: $white;
// $dropdown-link-color: $white;
// $dropdown-link-active-color: $primary;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa+One|News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Theme fonts
$font-family-sans-serif: 'Roboto';

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
